.tasks {
  margin: 2rem auto;
  width: 90%;
  max-width: 40rem;
}

.tasks ul {
  list-style: none;
  padding: 1rem;
}

.tasks li {
  border: 1px solid #bae8e8;
  border-radius: 10px;
  margin: 0.5rem 0;
  padding: 0.5rem;
  background: #bae8e8;
}
